In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("./airline_satisfaction.csv")
df.drop('Unnamed: 0', inplace = True, axis=1)
df.shape

(129880, 24)

In [3]:
df.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,64940.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,14.713713,15.091129
std,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,38.071126,38.465650
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32470.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64940.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97410.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [4]:
df["retard_en_vol"]=df["Arrival Delay in Minutes"]-df["Departure Delay in Minutes"]

In [5]:
df["Food and drink"].describe()

count    129880.000000
mean          3.204774
std           1.329933
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: Food and drink, dtype: float64

In [6]:
df.satisfaction.values

array(['neutral or dissatisfied', 'neutral or dissatisfied', 'satisfied',
       ..., 'neutral or dissatisfied', 'satisfied',
       'neutral or dissatisfied'], dtype=object)

In [7]:
ordinal = ["Departure/Arrival time convenient","Ease of Online booking","Gate location",
           "Food and drink","Online boarding","Seat comfort","Inflight entertainment","On-board service","Leg room service",
           "Baggage handling","Checkin service","Inflight service","Cleanliness"]

In [8]:
target=["satisfaction"]
quantitative =["Age","Flight Distance","Arrival Delay in Minutes","Departure Delay in Minutes","retard_en_vol"]
qualitative=["Gender","Customer Type","Type of Travel","tranche_age"]

In [9]:
def tranche_age(x):
    if x<18: return 0
    if x< 30: return 1
    if x< 50: return 2
    return 3
df["tranche_age"]=df.Age.apply(lambda x: tranche_age(x))

In [ ]:
#One hot avec une classe par note de 0 Ã  5

In [ ]:
# My target is satisfaction
y = df.satisfaction.values
# For demonstration, I'm taking only 4 columns
categorical_variables = ["Departure/Arrival time convenient","Ease of Online booking","Gate location",
           "Food and drink","Online boarding","Seat comfort","Inflight entertainment","On-board service","Leg room service",
           "Baggage handling","Checkin service","Inflight service","Cleanliness""Gender","Customer Type","Type of Travel","tranche_age"]
quantitative_variables = ["Age","Flight Distance","Arrival Delay in Minutes","Departure Delay in Minutes","retard_en_vol"]
X = df[categorical_variables + quantitative_variables].values
X_quantitative = df[quantitative_variables].values
X_categorical = df[categorical_variables].values



target=["satisfaction"]

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

# Implementation of a two step gaussian nb model

# Using the full dataset
gaussian_nb_quanta = GaussianNB()
gaussian_nb_quanta.fit(X_quantitative, y)
gaussian_nb_categorical = CategoricalNB()
gaussian_nb_categorical.fit(X_cat, y)

gaussian_full = GaussianNB()
proba_matrix = np.concatenate([gaussian_nb_quanta.predict_proba(X_quantitative)[:,0].reshape(-1,1), gaussian_nb_categorical.predict_proba(X_cat)[:,0].reshape(-1, 1)], axis=1)
gaussian_full.fit(proba_matrix, y)

print("===== Accuracy using full dataset")
gaussian_full.score(proba_matrix, y)